body {
    width: 70%;
    height: 100%;
    margin: auto;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
}

#followme
{
    position:absolute;
    left:0;
    top:0;
    height: 200px;
    width: 200px;
    background-image:url('/static/images/badge.png');
    background-repeat:no-repeat;
}

.url
{
    color: blue;
    /* text-decoration:blink; */
}

#header
{
    height: 50px;
    background-color: #638099;
}

.title 
{
    font-size: 35px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.link 
{
    float:right;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 15px;
    color: blue;
    text-decoration: none;
}

#plyers
{
    height: 100px;
    width: 50%;
    margin: auto;
}

#board 
{
    width: 50%;
    margin: auto;
    padding: 50px;
    
}

#myCanvas 
{
    background-color: #FFB6C1;
    margin: auto;
    box-shadow: -10px -10px 5px #888;
}

#board_url
{
    padding-bottom: 10px;
    width: 100%;
    text-align:center    
}

.player
{
    float: left;
    width: 60px;
    height: 60px;
    /* border: 1px solid; */
    /* background-image:url('http://www.gravatar.com/avatar/0b5532ff8ee2fad489f860b66b4d348b?s=60'); */
    background-repeat:no-repeat;
    /* box-shadow: -2px -2px 5px #888; *\/ */
}

.player2
{
    float: right;
    /* margin-left: 200px; */
    /* box-shadow: -5px -5px 3px #888; */
    /* border: 3px solid; */
    /* border-color: #D11414; */
    /* box-shadow: 0 0 35px rgba(0, 0, 255, 1); */
    /* -webkit-box-shadow: 0 0 35px rgba(0, 0, 255, 1);  */
    /* -moz-box-shadow: 0 0 35px rgba(0, 0, 255, 1);  */
}

.active
{
    border: 3px solid;
    border-color: #D11414;
}

.waiting
{
   /* float: right; */
   /* width: 60px; */
   /* height: 60px; */
   /* border: 1px solid; */
   background-color: red;
   /* background-repeat:no-repeat; */
}

.name
{
    float: left;
    /* position: bottom; */
}

.point
{
    float: right;
    /* position: bottom; */
}