html {
    width: 70%;
    height: 100%;
    margin: auto;
    /* border-left: 1px solid; */
    /* border-right: 1px solid; */
}

#header
{
    height: 50px;
    background-color: #638099;
}

.title 
{
    font-size: 35px;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.link 
{
    float:right;
    padding-top: 15px;
    padding-right: 10px;
    font-size: 15px;
    color: blue;
    text-decoration: none;
}

#plyers
{
    height: 100px;
    width: 50%;
    margin: auto;
}

#board 
{
    width: 50%;
    margin: auto;
    padding: 50px;
}

#myCanvas 
{
    background-color: #FFB6C1;
    margin: auto;
    box-shadow: -10px -10px 5px #888;
}

#meavatar 
{
    float: left;
    width: 60px;
    height: 60px;
    background-image:url('http://www.gravatar.com/avatar/0b5532ff8ee2fad489f860b66b4d348b?s=60');
}

#otheravatar 
{
    margin-left: 200px;
    width: 60px;
    height: 60px;
    background-image:url('http://www.gravatar.com/avatar/0b5532ff8ee2fad489f860b66b4d348b?s=60');
}