<!-- <div id="wait_for_player"> -->
<!--   Wait for opponent to join -->
<!-- </div> -->
<!-- <div id="player_joined" style="display:None"> -->
<!--   {% include 'player_joined.html' %} -->
<!-- </div> -->
<div id="plyers">
  players
</div>
<!-- <div id="your_move"> -->
<!--   your move -->
<!-- </div> -->
<!-- <div id="opponend_move"> -->
<!--   wait for other player to move -->
<!-- </div> -->
<div id="won_game">
  You won
</div>
<div id="lost_game">
  You lost
</div>
<canvas id="myCanvas"></canvas>

